<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script type="text/javascript" src="{% static 'js/selectors.js' %}"></script>

<head>
<h1 id="title">dees living atlas (demo)</h1>

<p id="subtitle"> An application for searching through Dees's Living Atlas, and exploring Medieval French throughout space and time. This page is currently incomplete. If you find bugs let me know. </p>

<ul class='navbar'>
<li><a href="{% url 'search' %}">search</a>
<li><a href="{% url 'howto' %}">how-to</a>
<li><a href="{% url 'about' %}">about</a>
</ul>
</head>
<hr>

<body>
	{% block content %}
	{% endblock content %}
</body>
