{% csrf_token %}

<div class="flex-container" id="flex-container-A" name="A">
	<div class="results">
		<ol>
			<li class="list-title">lemmas (group A)</li>
		</ol>
	</div>
	<div class="results">
		<ol>
			<li class="list-title">forms (group A)</li>
		</ol>
	</div>
</div>

<div class="flex-container" id="flex-container-B" name="B">
	<div class="results">
		<ol>
			<li class="list-title">lemmas (group B)</li>
		</ol>
	</div>

	<div class="results">
		<ol>
			<li class="list-title">forms (group B)</li>		
		</ol>
	</div>
</div>
<div id="cartography-button">
	<input class="pushable" name="to_carto" type="submit" value = "submit to cartography"/>
</div>