{% extends 'base.html' %}


{% block content %}

<div class="article">

<h2>searching the database (english)</h2>

<p>
	When you type a list of forms in the searchbox, the Living Atlas returns 
	a list of lemmas (on the left) and all the associated forms (on the right.) 
	This is the default behavior.
</p>
<p>
	To search for  a list, separate the search terms by spaces or newlines. Either
	one is fine. This returns a list of lemmas and the forms that are associated to them.
	By default, the forms are hidden, but clicking on the lemmas reveals them.
</p>
<p>
	Each lemma, and all of the various forms of that lemma, have a checkbox next to them.
	Clicking the checkboxes selects those forms/lemmas that you want to map. "Group A" is one group, 
	as is "Group B". All the forms/lemmas in a group will get mapped together as a group. The two
	search buttons send a query to either box A or box B.
</p>
<p>
	By default the lemmas are checked. Each form has to be selected individually. 
	(#TODO make a toggle-all for the forms.)
</p>

<h2>searching with regex (regular expressions)</h2>
<p>
	<a href="https://docs.python.org/3/library/re.html">Read more about regex</a>
</p>

<p>
	The Atlas supports advanced regex searches. These searches are much more intensive than
	simple list searches and will take longer (around 3 seconds for a regex compared to
	less than a second for a list search.) Regular expressions use symbols to stand
	for specific symbols or groups of symbols. For example, the expression ^a stands for "all lemmas
	starting with 'a'". The expression \d stands for a single digit, and the expression \d+ stands 
	for a string of digits of any length.
</p>
<p>
	Because there are a lot of symbols it's helpful to have an updated clear table of them. The search
	engine on this page uses the python syntax, which you can find <a href="https://docs.python.org/3/library/re.html">here</a>.
</p>
	
</div>

{% endblock content %}