<div class="results">
	<ol>
		<li>
			<div class="list-title-container">
				<div class="list-title">
					lemmas (group A)
				</div>
				<div class="all-none-selectors-container">
					<input type="button" class="pushable" value="all" onclick="selectAllThisBox(this, true, true)"></input>
					<input type="button" class="pushable" value="none" onclick="selectAllThisBox(this, false, true)"></input>
				</div>  
			</div>		
		</li>	
		{% for lemma, forms in results.items %}
		<li class="list-element" id="{{lemma}}A" onclick="selectForms(this)">
			<input onchange="boxCount(this)" class="checkbox" type="checkbox" id="checkbox-{{lemma}}A" name="checkbox-{{lemma}}A" value="{{lemma}}" onclick="lemmaToggleAll(this)" checked>
			<label>{{lemma}}</label>
			<span id="{{lemma}}A-count" class="counter">(<span>1</span>/<span>{{forms|length|add:1}}</span>)</span>
		</li>
		{% endfor %}
	</ol>
</div>

<div class="results">
	<ol>
		<li>
			<div class="list-title-container">
				<div class="list-title">
					forms (group A)
				</div>
				<div class="all-none-selectors-container">
					<input type="button" class="pushable" value="all" onclick="selectAllThisBox(this, true)"></input>
					<input type="button" class="pushable" value="none" onclick="selectAllThisBox(this, false)"></input>
				</div>
			</div>		
		</li>	
		{% for lemma, forms in results.items %}
		{% for form in forms %}
		<li class="list-element" id="{{form}}A" name="{{lemma}}A-child" style="display:none">
			<input onchange="boxCount(this)" onclick="toggleParent(this)" class="checkbox" type="checkbox" name="checkbox-{{lemma}}A-child" id="checkbox-{{form}}A" value="{{form}}">
			<label>{{form}}</label>
		</li>
		{% endfor %}
		{% endfor %}
	</ol>
</div>