<div class="results">
	<ol>
		<li>
			<div class="list-title-container">
				<div class="list-title">
					lemmas (group B)
				</div>
				<div class="all-none-selectors-container">
					<input type="button" class="pushable" value="all" onclick="selectAllThisBox(this, true, true)"></input>
					<input type="button" class="pushable" value="none" onclick="selectAllThisBox(this, false, true)"></input>
				</div>
			</div>		
		</li>	
		{% for lemma, forms in results.items %}
		<li class="list-element" id="{{lemma}}B" onclick="selectForms(this)">
			<input onchange="boxCount(this)" class="checkbox" type="checkbox" id="checkbox-{{lemma}}B" name="checkbox-{{lemma}}B" value="{{lemma}}" onclick="lemmaToggleAll(this)" checked>
			<label>{{lemma}}</label>
			<span id="{{lemma}}B-count" class="counter">(<span>1</span>/<span>{{forms|length|add:1}}</span>)</span>
		</li>
		{% endfor %}
	</ol>
</div>

<div class="results">
	<ol>
		<li>
			<div class="list-title-container">
				<div class="list-title">
					forms (group B)
				</div>
				<div class="all-none-selectors-container">
					<input type="button" class="pushable" value="all" onclick="selectAllThisBox(this, true)"></input>
					<input type="button" class="pushable" value="none" onclick="selectAllThisBox(this, false)"></input>
				</div>
			</div>		
		</li>	
		{% for lemma, forms in results.items %}
		{% for form in forms %}
		<li class="list-element" id="{{form}}B" name="{{lemma}}B-child" style="display:none">
			<input onchange="boxCount(this)" onclick="toggleParent(this)" class="checkbox" type="checkbox" name="checkbox-{{lemma}}B-child" id="checkbox-{{form}}B" value="{{form}}">
			<label>{{form}}</label>
		</li>
		{% endfor %}
		{% endfor %}
	</ol>
</div>