{% extends 'base.html' %}

{% block content %}

<div class="wrap-searchbox">
<form method="get" action="" class="searchbox">
  <span id="pointing-hand"> ☞ </span> 
  <textarea type="text" name="q" placeholder="enter queries separated by lines" cols="40" rows="5">{%if previous_query %}{{previous_query}}{%endif%}</textarea>
  {% comment %} <input type="text" name="q" id="id_q" placeholder="enter query here" /> {% endcomment %}
  <br>
  <input type="submit" value="search" />
</form>
</div>

{% if search_results %}
<form method="post" action="/">
  {% csrf_token %}
  <div class="flex-container">
    <div class="results-box">
      {% comment %} This box contains the lemmas {% endcomment %}
      <ul class="lemmas-list">
        {% for lemma in found_lemmas %}
        <li onclick="formSelector('{{lemma}}')" id="{{lemma}}-selector" >
          <input type="checkbox" class="lemma-ckbox" name="ckbox-{{lemma}}-base" value="{{lemma}}"
            onclick="toggleCheckboxes('ckbox-{{lemma}}')"/>
          <label>{{lemma}}</label>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="results-box">
      {% comment %} This box contains the forms {% endcomment %}
      {% for lemma in found_lemmas %}
      <ul id="{{lemma}}" class="forms-list">
        {% comment %} <span class="lemma"> {{lemma}} </span> {% endcomment %}
        {% for form in found_forms %}
        {% if form.lemma == lemma %}
        <li>
          <input type="checkbox" class="form-ckbox" name="ckbox-{{form.lemma}}" value="{{form.form}}" display="visible"/>
          <label>{{form.form}}</label>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <br>
  <button type="submit">continue to geography</button>
</form>
</div>
{% endif %}

<script>
document.querySelectorAll('.lemmas-list li')[0].style.backgroundColor = '#ffe600';
</script>

{% if selected_checkboxes %}
<div>
{% for selection in selected_checkboxes %}
{{ selection }}
{% endfor %}
</div>
{% endif %}

{% endblock content %}