# Junk
.DS_Store
.vscode/
.ipynb_checkpoints/

# Database
db.sqlite3
sqlite3

# Main documents
source/
living-atlas/tmp/
paperwork/

# Python-specific
*.pyc
*.pyo
__pycache__/

two-scoops-of-django.pdf