html {
    --font-family-sans: "Tahoma", "Helvetica", "Arial", sans-serif;
    --font-family-mono: "Menlo", "Courier New", "Courier", monospace;
    --manilla: #fff6da;
    --yellow: #ffe600;
    --lightgray: #e4e4e7;
    --gray: #f3f3f3;
    --darkcyan: #237272;
    --error-color: red;
    font-size: 15px; 
    background-color: var(--manilla);
    padding-bottom: 18rem;

    /*https://doodad.dev/pattern-generator/ for alternate backgrounds*/
    --stripe:  #d2dbe0;
    --bg: #e1e1e1;
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, var(--bg) 25%, transparent 25%),
                linear-gradient(45deg,  var(--bg) 25%, transparent 25%);
    background-size: 80px 70px;
    background-color: var(--stripe);
}

body {
    font-family: var(--font-family-sans);
    width: 70rem;
    margin: auto;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    margin: auto;
    margin-bottom: -1rem;
}

#title, #title a {
    text-decoration: none;
    color: var(--darkcyan);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #111;
    font-size: 2.9rem;
    text-align: center;
    margin-bottom: -1.3rem;
}

#subtitle {
    text-align: center;
    font-size: 1.3rem;
    color: #333;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;

}

nav a {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #222;
    padding: 0 .5rem 0 .5rem;
    text-decoration: none;
    transition:color .2s ease-out, background 1s ease-in;
}

nav a:hover {
    text-decoration: underline;
    color: var(--darkcyan);
}

hr {
    width: 80%;
    color: transparent;
    background-color: #444;
    height: 1px;
}

.half-table {
    display: flex;
}

.half-table[data-group="B"] {
    margin-top: .5rem;
}

.lemma-box {
    width: 65%;
}

.form-box {
    width: 35%;
}

.lemma-box, .form-box {
    background-color: white;
    overflow: auto;
    height: 18rem;
    border: 2px solid #444;
}

.lemma-box ol {
    padding: 0;
    margin: 0;
}

.form-box ol {
    padding: 0;
    margin: 0;
}

.lemma-box li, .form-box li {
    border-bottom: 1px solid var(--lightgray);
    padding: .5rem 1rem;
    list-style: none;
    text-align: left;
}

.lemma-item, .lemma-title {
    display: flex;
    align-items: center;
}

.lemma-title, .form-title {
    position: sticky;
    top: 0;
    color: white;
    font-weight: bolder;
    background-color: var(--darkcyan);
    font-family: var(--font-family-mono);
}

.lemma-item:hover {
    background-color: #fcfcfc;
}

.lemma-name {
    flex-basis: 35%;
}

.lemma-latin {
    flex-basis: 25%;
    text-align: left;
}

.lemma-homonym-id {
    flex-basis: 20%;
    text-align: left;
}

.lemma-buttons {
    flex-basis: 30%;
    text-align: right;
}

.lemma-buttons input {
    margin: 0;
}

.lemma-item-not-found {
    color: var(--error-color);
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-name {
}

.form-buttons input {
    margin: 0;
}

.counter {
    color: #666;
    float: right;
}

.pushable.cancel {
    font-family: sans-serif;
    background-color: red;
    color: white;
    font-weight: bolder;
    line-height: .8rem;
    height: 1.8rem;
    margin-left: 1rem;
    vertical-align: all;
}

.pushable.cancel {
    
}

.radios {
    font-family: var(--font-family-mono);
    display: flex;
    justify-content: center;
}

.radio-group {
    margin: .5rem 1.5rem 1rem 1.5rem;
    display: flex;
}

input[type='radio'] { 
    transform: scale(1.7); 
    margin: 0rem .5rem 0rem 1rem;
}

.button-array {
    display: flex;
    justify-content: center;
}

.pushable {
    cursor:pointer;
    background-color: var(--gray);
    position: relative;
    border: 1px solid black;
    padding: .5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    margin: .5rem;
    box-shadow: 0 5px 8px rgba(0,0,0,.4);
    font-family: var(--font-family-mono);
}

.pushable:enabled:active {
    transform: translateY(3px);
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.wrap-searchbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family-mono);
}

#textinput-form-regex input {
    font-family: var(--font-family-mono);
    font-size: 1rem;
    height: 1.8rem;
    width: 24rem;
}

textarea {
    font-size: 1rem;
    width: 29rem;
}

#textinput-form-regex-title {
    margin: 1rem auto .2rem auto;
}

#textarea-main, #textinput-form-regex {
    margin: auto;
}

#textinput-form-regex {
    margin: 0 auto .2rem auto;
    font-family: var(--font-family-mono);
}

::placeholder {
    font-size: 1rem;
}

.error-container {
    display: flex;
    justify-content: center;
}

.error {
    background-color: white;
    font-family: var(--font-family-mono);
    display: inline-block;
    border: 2px solid var(--error-color);
    margin-bottom: .5rem;
    padding: .5rem;
}

.searchbox-main input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#base-buttons {
    display: flex;
    justify-content: center;
}

.article {
    font-size: 1.1rem;
    line-height: 1.6rem;
    width: 80%;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border: 2px solid black;
}

.article h2 {
    margin: 0;
}

.hidden {
    display: none;
}