{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="error-container">
	<div class="error">
		Internet Explorer is an old browser with limited functionality. <br><br>

		To use this site, please update to a modern browser.<br><br>

		Mozilla Firefox: https://www.mozilla.org/en-US/firefox/new/<br><br>

		Google Chrome: https://www.google.com/chrome/<br><br>

		Microsoft Edge: https://www.microsoft.com/en-us/edge<br><br>

		Opera: https://www.opera.com/<br><br>

		More info: https://techcommunity.microsoft.com/t5/windows-it-pro-blog/the-perils-of-using-internet-explorer-as-your-default-browser/ba-p/331732

	</div>
</div>
{% endblock content %}