{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
<div class="radios">
	<div class="radio-group">
		<input type="radio" name="lang" value="latin" id="radio-latin">
		<label for="radio-latin">latin</label>
		<input type="radio" name="lang" value="name" id="radio-lemma" checked>
		<label for="radio-lemma">lemma</label>
	</div>
	<div class="radio-group">
		<input type="radio" name="type" value="regex" id="radio-regex" onclick="togglePlaceholderText(this)" checked>
		<label for="radio-regex">regex</label>
		<input type="radio" name="type" value="list" id="radio-list" onclick="togglePlaceholderText(this)">
		<label for="radio-list">list</label>
	</div>
</div>
<div class="wrap-searchbox">
	<div id="textarea-main">
		<textarea type="text" id="searchbox-main" placeholder="enter one lemma per line, as in&#10;accommoder&#10;mobiliaire" rows="5">^acco</textarea>
	</div>
	<div id="textinput-form-regex-title">
		filter forms by regex (optional)
	</div>
	<div id="textinput-form-regex">
		<input type="text" id="searchbox-form" placeholder=".[mn]ica$ (example)">
	</div>
	<div class="button-array">
		<input class="pushable" type="submit" onclick="submitQuery('a')" value = "add query to group A"/>
		<input class="pushable" type="submit" onclick="submitQuery('b')" value = "add query to group B"/>
	</div>
</div>

<div class="error-container hidden" id="select-from-both">
	<div class="error">
		to compare results you must select from both groups
	</div>
</div>

<div class="error-container hidden" id="no-results">
	<div class="error">
		no results were found for that search
	</div>
</div>

<div class="error-container hidden" id="timeout">
	<div class="error">
		your search returned too many items. try refining your query
	</div>
</div>

<div class="error-container hidden" id="export-failed">
	<div class="error">
		select at least one item to export
	</div>
</div>

<div class="frame" data-group="a">
	<div class="header-pane">
		<div class="left-pane">
			<h3 class="list-header">
				<div class="lemma-name">lemmas A <span class="running-total reset hidden">[]</span></div>
				<div class="latin">latin</div>
				<div class="homonym-id">homonym id.</div>
				<div class="lemma-buttons reset hidden">
					<input type="button" class="pushable" value="all" onclick="frame['a'].selectAllLemmas()">
					<input type="button" class="pushable" value="none" onclick="frame['a'].selectAllLemmas(false)">
					<input type="button" class="pushable cancel" value="X" onclick="frame['a'].reset()">
				</div>
			</h3>
		</div>
		<div class="right-pane">
			<h3 class="list-header">
				<div class="form-name">forms A</div>
				<div class="form-buttons reset hidden" data-group="a">
					<input type="button" class="pushable" value="all" onclick="frame['a'].selectAllForms()">
					<input type="button" class="pushable" value="none" onclick="frame['a'].selectAllForms(false)">
				</div>
			</h3>
		</div>
	</div>
	<div class="data-pane">
		<div class="left-pane">
			<ol class="lemma-list" data-group="a">
			<!-- Lemma elements go here -->
			</ol>
		</div>
		<div class="right-pane">
			<ol class="form-list" data-group="a">
			<!-- Form elements go here -->
			</ol>
		</div>
	</div>
</div>

<div class="frame" data-group="b">
	<div class="header-pane">
		<div class="left-pane">
			<h3 class="list-header">
				<div class="lemma-name">lemmas B <span class="running-total reset hidden">[]</span></div>
				<div class="latin">latin</div>
				<div class="homonym-id">homonym id.</div>
				<div class="lemma-buttons reset hidden">
					<input type="button" class="pushable" value="all" onclick="frame['b'].selectAllLemmas()">
					<input type="button" class="pushable" value="none" onclick="frame['b'].selectAllLemmas(false)">
					<input type="button" class="pushable cancel" value="X" onclick="frame['b'].reset()">
				</div>
			</h3>
		</div>
		<div class="right-pane">
			<h3 class="list-header">
				<div class="form-name">forms B</div>
				<div class="form-buttons reset hidden" data-group="b">
					<input type="button" class="pushable" value="all" onclick="frame['b'].selectAllForms()">
					<input type="button" class="pushable" value="none" onclick="frame['b'].selectAllForms(false)">
				</div>
			</h3>
		</div>
	</div>
	<div class="data-pane">
		<div class="left-pane">
			<ol class="lemma-list" data-group="b">
			<!-- Lemma elements go here -->
			</ol>
		</div>
		<div class="right-pane">
			<ol class="form-list" data-group="b">
			<!-- Form elements go here -->
			</ol>
		</div>
	</div>
</div>

<div id="base-buttons">
	<button class="pushable" name="excel" onclick="postInputs('/excel/', 'excel')"/>export to MS Excel</button>
	<button class="pushable" name="carto" onclick="postInputs('/cartography/', 'carto')"/>send to carto</button>
</div>

<!-- Templates used in the generation of form and lemma elements  -->

<template id="form">
	<li class="form hidden">
		<label>
			<input type="checkbox" checked>
		</label>
	</li>
</template>

<template id="lemma">
	<li class="lemma">
		<div class="lemma-name">
			<label>
				<input type="checkbox" checked>
			</label>
		</div>
		<div class="latin">
		</div>
		<div class="homonym-id">
		</div>
		<div class="counter">
			(<span></span>/<span></span>)
		</div>
	</li>
</template>

{%endblock content%}




