:root {
    --yellow: #ffe600; // highlights
    --manilla: #fff6da; // background
    --faint-gray: #e4e4e7; // used to line separators
    --gray: #f3f3f3; // buttons
    --font-size: .9rem;
    --font-family: "Menlo", "Courier New", "Courier", monospace;
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-size: .9rem; 
    background-color: #fff6da;
    padding-bottom: 300px;
}

body {
    width: 800px;
    margin: auto;
    margin-top: 3rem;
}

#subtitle {
    text-align: center;
}

#title {
    text-align: center;
}

.radios {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.radio-group {
    margin-top: .5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom:  .5rem;
}

input[type='radio'] { 
   transform: scale(1.5); 
}

#textarea {
    margin: auto;

}

.button-array {
    display: flex;
    justify-content: center;
}

/*Pushables are buttons*/
.pushable {
    background-color: #f3f3f3;
  position: relative;
  border: 1px solid black;
  padding: .5rem;
  font-size: .9rem;
  margin: .5rem;
  font-family: "Menlo", "Courier New", "Courier", monospace;
}

.pushable:active {
  transform: translateY(2px);
}

.wrap-searchbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

textarea {
    font-size: var(--font-size);
}

::placeholder {
  font-size: var(--font-size);
}

.error-container {
    display: flex;
    justify-content: center;
}
.error {
    display: inline-block;
    border: 2px solid red;
    margin-bottom: .5rem;
    padding: .5rem;
}

#pointing-hand {
    position: absolute;
    top: 0rem;
    left: -5rem;
    font-size: 5rem;
    /* margin-right: -.5rem; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.results {
    background-color: white;
    width: 50%;
    overflow: auto;
    height: 12rem;
    border: 2px solid #000;
}

.results ol {
    padding: 0;
    margin: 0;
    /*list-style: none;*/
}

.results li {
    border-bottom: 1px solid #e4e4e7;
    padding: .5rem 1rem;
    list-style: none;
    text-align: left;
}

.results li {
    vertical-align: middle;
}

.list-title {
    font-weight: bolder;
}

.counter {
    color: gray;
    float: right;
}

.searchbox input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    /*flex-direction: row;*/
    /*justify-content: center;*/
}

.flex-container[name="B"] {
    margin-top: .5rem;
}

.navbar {
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: .5rem;
}

.navbar a {
    font-weight: bolder;
    color: black;
    font-size: 1.2rem;
    padding: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: underline;
    border: 1px solid transparent;
}

.navbar a:hover {
    text-decoration: none;
    background-color: var(--yellow);
    border: 1px solid black;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


input.checkbox {
    width: var(--font-size);
    height: var(--font-size);
    vertical-align: middle;
}

#cartography-button {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.article {
    font-size: 1.1rem;
    line-height: 1.6rem;
    width: 80%;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border: 2px solid black;
}

.article h2 {
    margin: 0;
}