body {
    text-align: center;
    width: 700px;
    margin: auto;
    font-size: 15pt;
    margin-top: 3rem;
    font-family: monospace;
}

.wrap-searchbox {
    position: relative;
    display: inline-block;
}

textarea {
    margin-top: .5rem;
    display:block;
    font-size: 12pt;

}

::placeholder {
  font-size: 12pt;
}


#search-button, #continue-button {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;

  /*bottom:10px;*/
  /*right:10px;*/
  background-color: #ffe600;
  border: 1px solid #000;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
}

#search-button:hover, #continue-button:hover {
    background-color: #ffe6ff;
    text-decoration: underline;

}

#pointing-hand {
    position: absolute;
    top: 0rem;
    left: -5rem;
    font-size: 5rem;
    /* margin-right: -.5rem; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.results {
    width: 50%;
    margin: 1px;
    overflow: auto;
    height: 300px;
    border: 1px solid #000;
}

.results ol {
    padding: 0;
    margin: 0;
    /*list-style: none;*/
}

.results li {
    border-bottom: 1px solid #e4e4e7;
    padding: .5rem 1rem;
    list-style: none;
    text-align: left;
}

.list-title {
    font-weight: bolder;
}

.counter {
    color: gray;
    float: right;
}

.searchbox input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    /*background-color: blue;*/
    flex-direction: row;
    justify-content: center;
}

.navbar li {
    /*background-color: #ffe600;*/
    display: inline;
    margin: 1rem;
    font-weight: bolder;
    /*display: inline;*/
    /*justify-content: center;*/
    /*text-align: center;*/
}

.navbar a {
    font-size: 18pt;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffe600;
    text-decoration: underline;

/*    text-decoration: underline;
*/    /*display: inline;*/
/*justify-content: center;*/
/*text-align: center;*/
}

.navbar {
    padding-bottom: 1rem;
}




/* Extra code for the look of the demo */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


input.checkbox {
    width: 1rem;
    height: 1rem;
}

.pushable {
  position: relative;
  background: transparent;
  border: none;
  /*border: 1px solid black;*/
  padding: 0;
  cursor: pointer;
  font-family: monospace;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  transform: translateY(2px);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #ead300;
}
.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: black;
  background: #ffe600;
  transform: translateY(-4px);
}

.pushable:hover .front {
  transform: translateY(-6px);
}
.pushable:hover .shadow {
  transform: translateY(4px);
}
.pushable:active .front {
  transform: translateY(-2px);
}
.pushable:active .shadow {
  transform: translateY(1px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}